@use "../01_settings" as *;
@use "../02_tools" as *;

.pr {
  position: relative !important;
}

.db {
  display: block !important;
}

.dib {
  display: inline-block !important;
}

// Misc
.no-border {
  border: 0 none !important;
}

.full-h {
  height: 100%;
}

.full-w {
  width: 100%;
}

.mobile-only {
  display: block;

  @include mobile-only {
    display: none;
  }
}

.tablet-only {
  display: none;

  @include tablet-only {
    display: block;
  }
}

.tablet-and-more {
  display: none;

  @include tablet-min {
    display: block;
  }
}

.screen-and-more {
  display: none;

  @include screen-min {
    display: block;
  }
}

.large-screen-and-more {
  display: none;

  @include large-screen-min {
    display: block;
  }
}
