---
import PostCard from "../../components/PostCard.astro"
import MainLayout from "../../layouts/MainLayout.astro"

import { getCollection } from 'astro:content';
const posts = await getCollection('blog');
---

<MainLayout title="Home" description="Home page in Frontend Blog">
	<h1 class="mb-32">Blog</h1>
	<div class="o-grid gap-x-24 gap-y-24">
	{
		posts.map((post) => (
			<div class="o-span-12 o-span-md-6 o-span-lg-4 o-span-xl-3">
				<PostCard frontmatter={post.data} url={`/blog/${post.id}`} tagType="h2" />
			</div>
		))
	}
	</div>
</MainLayout>
