@use "../01_settings" as *;
@use "../02_tools" as *;

.o-nav {
  position: fixed;
  top: $header-h--mobile;
  left: 0;
  z-index: $nav-block-z;
  overflow: auto;

  width: 100%;
  height: calc(100% - #{$header-h--mobile});

  // transition: transform 0.24s linear;
  // transform: translateX(-100%);

  @include screen-min {
    display: none;
    overflow: visible;
  }
}

.o-nav.is-open {
  transform: translateX(0);
}

.o-nav__logo {
  display: none;
}

.o-nav__list {
  background-color: $block-bg-c;


  @include screen-min {
    overflow-y: auto;

    height: calc(100% - #{$header-h});
  }
}

.fluid-layout {
  .o-nav {
    height: calc(100% - #{$header-h--mobile});

    @include screen-min {
      top: 0;
      display: block;

      width: $nav-max-w;
      min-height: 100%;

      box-shadow: 0.4rem 0.8rem 0.8rem rgba(00, 00, 00, 0.1);
    }
  }

  .o-nav__logo {
    @include screen-min {
      display: flex;
      align-items: center;

      height: $header-h;
    }
  }
}

// .fluid-layout.nav-collapsed {
//   .o-nav {
//     @include screen-min {
//       width: $nav-max-w--collapsed;
//     }
//   }
// }
