---
// Library imports
import { Icon } from 'astro-icon/components';
---

<a href="/" class="c-logo">
  <Icon name="logo" class="c-logo__img" />
  <span class="c-logo__name">Jan Prchal<br /> Astro Blogisek</span>
</a>