---
// Component imports
import Link from './Link.astro';
import { Icon } from 'astro-icon/components';


// Data imports
import navData from '../data/navData.js';
---

<div class="o-nav__list">
  <nav class="c-nav">
    <ul class="c-nav__list">
    <!-- <a href="/">
      <Icon name="logos:vue" width="40" height="40" />
    <ul> -->

    <!--  
      @Note
      Kazdou jednotlivou knihovnu icon musim nainstalovat pres npm/yarn/pnpm
      a pak ji muzeme pouzit v Icon komponentu jako name prop
      Format je <nazev-knihovny>:<nazev-ikony> v navData.js je videt jake ikony se
      pridaly z mdi knihovny
    -->
      {
        navData.map(item => {
          return (
            <li class="c-nav__item">
              <Link
                href={item.href} 
                text={item.name} 
                classes="c-nav__link"
                data-navLink
                data-someTestAttribute
                icon={{
                  name: item.iconName,
                  side: "left",
                  navLink: true
                }}
              />
            </li>
          )
        })
      }
    </ul>
  </nav>
</div>
